/* color scheme */

.bg-charcoal {
    background-color: #36454F !important;
}

.charcoal {
    color: #36454F !important;
}

.coral {
    color: #FF7F50 !important;
}

.bg-coral {
    background-color: #FF7F50 !important;
}

.hover-coral:hover {
    color: #FF7F50 !important;
}


/* nav items */




/* products */
.product-card-img {
    max-width: 100%;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}